[draggable] {
  cursor: pointer;
}

#newAnnotation {
  position: absolute;
  left: 0;
  top: 0;
}

#backdrop {
  opacity: 0.4;
  background-color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  background: transparent;
}

#web-annotator-modal{
  display: block;
}