<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">


  <link href="styles/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="styles/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
  <link href="styles/angular-bootstrap-colorpicker/angular-bootstrap-colorpicker.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <script src="scripts/analytics.js"></script>
</head>
<body ng-app="web-annotator">

<div class="container" ng-controller="MainController" ng-init="init()">

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="isActive" id="isActive" ng-change="saveConfig('isActive', isActive)"/> Is Active?
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="isLinksActive" id="isLinksEnabled" ng-change="saveConfig('isLinksActive', isLinksActive)"/> Links Enabled?
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="showPreview" id="showPreview" ng-change="saveConfig('showPreview', showPreview)"/> Show Preview?
    </label>
  </div>

  <hr/>

  <div class="form-group">
    <select ng-model="currentProject" class="form-control" ng-options="project.name for project in projects"
            ng-change="projectChanged(currentProject)">
      <option value="">New</option>
    </select>
  </div>

  <form name="newProjectForm" role="form " novalidate ng-submit="submitNewProject(newProjectName)" ng-show="isNew()">
    <div class="form-group">
      <input name="newProjectName" type="text" class="form-control" placeholder="Project Name" required
             ng-model="newProjectName"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Project</button>
  </form>

  <div ng-show="!isNew()">
    <ul id="tags" class="list-group">
      <li class="list-group-item" ng-repeat="tag in currentProject.tags track by $index">
        <div class="clearfix" ng-mouseenter="showDelete = true" ng-mouseleave="showDelete = false"
             ng-init="showDelete = false">
          <div class="tagColor" colorpicker style="background-color: {{tag.color}}" ng-model="tag.color"></div>
          <span class="tagName pull-left">{{tag.name}}</span>
          <a class="btn btn-danger btn-xs pull-right" ng-show="showDelete" ng-click="deleteTag(tag)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </div>
      </li>
    </ul>

    <form name="newTagForm" role="form" novalidate ng-submit="submitNewTag(newTag)">
      <div class="input-group">
        <div id="newTagColor" colorpicker style="background-color: {{newTag.color}}" class="input-group-addon"
             ng-model="newTag.color"></div>
        <input name="newTagName" type="text" class="form-control" ng-model="newTag.name" required
               placeholder="New Tag Name"/>

        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Tag
          </button>
        </span>
      </div>

      <div class="form-group" style="margin-top: 15px;">
      </div>
    </form>

    <div class="form-group clearfix">
      <button type="button" class="btn btn-danger pull-right" ng-click="deleteProject(currentProject)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Project
      </button>
    </div>
  </div>

</div>

<script src="scripts/angular.js" data-ng-csp></script>
<script src="scripts/angular-bootstrap-colorpicker/angular-bootstrap-colorpicker.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services/GUID.js"></script>
<script src="scripts/services/STORAGE.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
</body>
</html>
